<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- Loop over the collection of products -->
                <div class="col-md-3" *ngFor="let product of products">

                    <div class="product-box">
                        <img src="{{product.imageUrl}}" class="img-responsive">
                        <h1>{{ product.name }}</h1>
                        <div class="price"> {{ product.unitPrice | currency: 'SGD' }} </div>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>

                </div>
                <!-- if no products is empty, display message -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    <!-- the "?" detects null/undefined values. So, "products?.length == 0" 
                    is saying if products == null/undefined || length == 0
                    this is called "safe navigation operator"-->
                    No Products Found.
                </div>
            </div>
        </div>
    </div>
</div>